/.fuse_hidden000000ef00000001
/.kilocodemodes
# Ignore specific WordPress database file types
db_data/wordpress_db/*.ibd
db_data/wordpress_db/*.frm
db_data/wordpress_db/*.MYD
db_data/wordpress_db/*.MYI
db_data/wordpress_db/*.sdi
db_data/wordpress_db/mysql/
db_data/wordpress_db/performance_schema/
db_data/wordpress_db/sys/

# You might also want to ignore other sensitive config files that contain passwords/APIs
# Examples (adjust based on your actual framework structure):
config/database.php # Or similar file containing DB credentials
.env

AevovPatternSyncProtocol/vendor/
